<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center">
        <h2 class="title">Are you happy with what we offer? Grab your WrapKit Copy Now</h2>
        <h6 class="subtitle">Yeah ! Its pretty cool about what you are offering and i starterd to feel in love with your Amazing UI Kit. I want it Yea!</h6>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Contact 2  -->
<!-- ============================================================== -->
  <div class="contact2" style="background-image:url(assets/images/contact/map.jpg)" id="contact">
    <div class="container">
      <div class="row contact-container">
        <div class="col-lg-12">
          <div class="card card-shadow" data-aos="fade-up" data-aos-duration="1200">
            <div class="row">
              <div class="col-lg-8">
                <div class="contact-box p-40">
                  <h4 class="title">Contactanos</h4>
                  <form>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group m-t-20">
                          <input class="form-control" type="text" placeholder="Nombre">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group m-t-20">
                          <input class="form-control" type="text" placeholder="Correo Electronico">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group m-t-20">
                          <input class="form-control" type="text" placeholder="Telefono">
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group m-t-20">
                          <input class="form-control" type="" placeholder="Mensaje">
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <button type="submit" class="btn btn-danger-gradiant m-t-20 btn-arrow"><span> Enviar <i
                          class="ti-arrow-right"></i></span></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-4 bg-primary">
                <div class="detail-box">
                  <h5 class="text-white font-light m-b-30">ADDRESS</h5>
                  <p class="text-white op-7">601 Sherwood Ave.
                    <br> San Bernandino</p>
                  <h5 class="text-white font-light m-b-30 m-t-40">CALL US</h5>
                  <p class="text-white op-7">251 546 9442
                    <br> 630 446 8851</p>
                  <div class="round-social light">
                    <a href="#" class="m-l-0"><i class="fa fa-facebook"></i></a>
                    <a href="#" class=""><i class="fa fa-twitter"></i></a>
                    <a href="#" class=""><i class="fa fa-youtube-play"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ============================================================== -->
<!-- End Contact 2  -->
<!-- ============================================================== -->
