<!-- ============================================================== -->
<!-- Faqs -->
<!-- ============================================================== -->
<div class="spacer bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title">Preguntas Frecuentes</h2>
        <h6 class="subtitle">Algunas preguntas y respuestas</h6>
      </div>
    </div>
    <div class="row m-t-40">
      <div class="col-lg-6">
        <div class="p-20">
          <div class="m-b-40 p-b-20">
            <h5 class="title">¿Es el FHA un banco?</h5>
            <p class="text-justify">El FHA no es un banco, su función principal es asegurar hipotecas, siendo el
              responsable ante el banco
              del crédito que se otorgó a los deudores.</p>
          </div>
          <div class="m-b-40 p-b-20">
            <h5 class="title">¿Puedo comprar vivienda si resido en el Extranjero?</h5>
            <p class="text-justify">
              El FHA permite que guatemaltecos que viven en el extranjero legales o irregulares, compren vivienda
              siempre y cuando cumplan con los requisitos que establece FHA.
            </p>
          </div>
          <div class="m-b-40 p-b-20">
            <h5 class="title">¿Cuánto es el mínimo de ingreso para comprar una vivienda FHA?</h5>
            <p class="text-justify">El ingreso mínimo dependera del precio de la casa en que estés interesado, consulta
              con nuestros asesores para que puedan bridarte el rango salarial que debes poseer. Recuerda que
              la cuota mensual no
              debe exceder el 32% de tus ingresos totales mensuales y preferiblemente no tener deudas adicionales para
              que tu calificación sea positiva. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-20">
          <div class="m-b-40 p-b-20">
            <h5 class="title">¿Cómo comprar una casa con FHA?</h5>
            <ul>
              <li class="text-justify">Presenta al promotor la papelería requerida, completando los formularios FHA y
                documentos que
                comprueben
                sus ingresos.
              </li>
              <li>El promotor ingresa la documentación al FHA; la cual se analiza en un máximo de 5 días hábiles.</li>
              <li class="text-justify">Al completar el proceso y ya aprobada tu solicitud de crédito se imprime un
                Resguardo de
                Asegurabilidad y
                este se traslada al banco para iniciar con el proceso de firma de la escritura ante el Banco y la
                Promotora. En este momento ¡Ya eres propietario de tu vivienda!
              </li>
            </ul>
          </div>
          <div class="m-b-40 p-b-20">
            <h5 class="title">¿Cuánto tiempo tarda fha para autorizar el crédito de la compra?</h5>
            <p class="text-justify">Para la aprobación de tu solicitud de crédito es una aproximado entre 15 a 20 dias
              hábiles y para el proceso de finalización de tu
              compra tomara un mes mas aproximadamente.</p>
          </div>
          <div class="m-b-40 p-b-20">
            <h5 class="title">¿Cuánto es el porcentaje mínimo de enganche para comprar una casa?</h5>
            <p class="text-justify">El enganche minimo solictiado por FHA para poder realizar la compra de la vivienda es del 5%, sobre el
              valor del precio total de la vivienda, recuerda que puedes dar mas porcentaje de enganche para reducir el
              valor de tu cuota mensual</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Faqs  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Contact 1  -->
<!-- ============================================================== -->
<div class="contact1">
  <div class="row">
    <div class="container">
      <div class="spacer">
        <h1 class="text-center">Aun tienes dudas?</h1>
        <div class="row m-0">
          <div class="col-lg-8">
            <div class="contact-box p-r-40">
              <h4 class="title">Contactanos</h4>
              <div class="alert alert-success" role="alert" *ngIf="sendSuccess">
                This is a success alert with. Give it a click if you like.
              </div>
              <form  #formQuestion="ngForm" data-aos="fade-left" data-aos-duration="1200" (ngSubmit)="onSubmit()" id="form-question">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group m-t-15">
                      <input type="text" #name="ngModel" name="name" class="form-control" placeholder="Nombre" [(ngModel)]="question.name" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group m-t-15">
                      <input type="email" #email="ngModel" name="email" class="form-control" placeholder="Correo Electronico"  [(ngModel)]="question.email" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group m-t-15">
                      <input type="tel" #phone="ngModel" name="phone" class="form-control" placeholder="Telefono" [(ngModel)]="question.phone">
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group m-t-15">
                      <textarea #message="ngModel" name="message" rows="3" class="form-control"placeholder="Mensaje" [(ngModel)]="question.message" required></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <button type="submit" [disabled]="!formQuestion.form.valid" class="btn btn-danger-gradiant m-t-20 btn-arrow"><span> Enviar <i
                      class="ti-arrow-right"></i></span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="detail-box p-40 bg-sec-p" data-aos="fade-right" data-aos-duration="1200">
              <div class="row">
                <div class="col-lg-6"><img src="../../../assets/logo.png" class="img-responsive"></div>
                <div class="col-lg-6"><img src="../../../assets/fha.JPG" class="img-responsive"></div>
              </div>
              <h2 class="text-white">Inmo Business</h2>
              <p class="text-white m-t-30 op-8">(+502) 6646-4099
                <br> info@inmobusinessgt.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Contact 1  -->
<!-- ============================================================== -->
