<div class="spacer feature26">
  <div class="container">
    <div class="row wrap-feature-26 m-t-40 p-t-30">
      <div class="col-md-5"> <img src="../assets/images/innerpage/s2.jpg" class="img-responsive" /> </div>
      <div class="col-md-6 ml-auto align-self-center">
        <h2 class="title m-t-20">Asesoramiento a Clientes que desean comprar un inmbueble</h2>
        <p class="m-t-30 text-justify">Te ayudamos a encontrar el inmueble adecuado, en base a tus necesidades,
          nuestro personal te asesora para analizar diferentes opciones de inmueble y encontrar el que mas sea te tu agrado y conveniencia.</p>
      </div>
    </div>
    <div class="row wrap-feature-26">
      <div class="col-md-6 align-self-center">
        <div class="max-box">
          <h2 class="title m-t-20">Asistencia de compraventa de inmuebles </h2>
          <p class="m-t-30 text-justify">Informar periódicamente a los clientes propietarios del avance en la promoción del inmueble y los resultados que se vayan obteniendo. Esto también aplica para los clientes compradores.</p>
          <p class="text-justify">Acompañar en el proceso de la venta hasta concluir la misma el día de la firma de la escritura ante el Notario Público.</p>
        </div>
      </div>
      <div class="col-md-5 col-md-5 ml-auto "> <img src="../assets/images/innerpage/s1.jpg" class="img-responsive" /> </div>
    </div>
    <div class="row wrap-feature-26 m-t-40 p-t-30">
      <div class="col-md-5"> <img src="../assets/images/innerpage/s2.jpg" class="img-responsive" /> </div>
      <div class="col-md-6 ml-auto align-self-center">
        <h2 class="title m-t-20">Creación de publicidad del inmueble</h2>
        <p class="m-t-30 text-justify">Invertir en publicidad para exhibir el inmueble al mayor número de prospectos compradores y lograr así la venta del inmueble.</p>
        <p class="text-justify"></p>
        <a class="linking" data-toggle="collapse" href="#f26">View Feature26 code  <i class="ti-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 26 -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Feature 3 -->
<!-- ============================================================== -->
<div class="bg-light spacer feature3">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title">InmoBusiness te ofrece</h2>
        <h6 class="subtitle"></h6>
      </div>
    </div>
    <!-- Row  -->
    <div class="row m-t-40">
      <!-- Column -->
      <div class="col-md-6 wrap-feature3-box">
        <div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
          <div class="card-body d-flex">
            <div class="icon-space align-self-center"><i class="icon-Double-Circle display-2 text-info-gradiant"></i></div>
            <div class="align-self-center">
              <h5 class="font-medium"><a href="javascript:void(0)" class="linking">ASISTENCIA LEGAL ADECUADA <i class="ti-arrow-right"></i></a></h5>
              <p class="m-t-20">El Asesor Inmobiliario de InmoBusiness está capacitado para asistirte en todo el proceso, conoce los aspectos legales de un contrato.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-md-6 wrap-feature3-box">
        <div class="card card-shadow" data-aos="fade-left" data-aos-duration="1200">
          <div class="card-body d-flex">
            <div class="icon-space align-self-center"><i class="icon-Stopwatch display-2 text-info-gradiant"></i></div>
            <div class="align-self-center">
              <h5 class="font-medium"><a href="javascript:void(0)" class="linking">vender su inmueble mucho mas rapido<i class="ti-arrow-right"></i></a></h5>
              <p class="m-t-20">InmoBusiness asigna a un asesor que se dedicara a promover su imubeble para tener un venta mas rapida y segura </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-md-6 wrap-feature3-box">
        <div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
          <div class="card-body d-flex">
            <div class="icon-space align-self-center"><i class="icon-Thumbs-UpSmiley display-2 text-info-gradiant"></i></div>
            <div class="align-self-center">
              <h5 class="font-medium"><a href="javascript:void(0)" class="linking">EL INMUEBLE ADECUADO<i class="ti-arrow-right"></i></a></h5>
              <p class="m-t-20">InmoBusiness, está en capacidad de ofrecerle el inmueble adecuado a sus necesidades, por lo tanto usted no desperdicia tiempo, ni esfuerzo buscando inmuebles que no cubren sus expectativas</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-md-6 wrap-feature3-box">
        <div class="card card-shadow" data-aos="fade-left" data-aos-duration="1200">
          <div class="card-body d-flex">
            <div class="icon-space align-self-center"><i class="icon-Window-2 display-2 text-info-gradiant"></i></div>
            <div class="align-self-center">
              <h5 class="font-medium"><a href="javascript:void(0)" class="linking">SEGURIDAD<i class="ti-arrow-right"></i></a></h5>
              <p class="m-t-20">El Asesor de InmoBusiness, cuenta con un equipo de respaldo que investiga antes de llevar personas extrañas a visitar su  inmueble, el Asesor le informará detalladamente el día y la hora cuando realizará las visitas.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->

    </div>
  </div>
</div>
<app-contact></app-contact>
